################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pizza-Delivery-Hub/v17/.wsuo
/.vs/Pizza-Delivery-Hub/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/PizzaDeliveryHub/.vs/PizzaDeliveryHub/CopilotIndices/17.14.1431.25910
/PizzaDeliveryHub/.vs/PizzaDeliveryHub/DesignTimeBuild/.dtbcache.v2
/PizzaDeliveryHub/.vs/PizzaDeliveryHub/FileContentIndex/3b346557-d75d-490f-810e-c95cb8d86e1a.vsidx
/PizzaDeliveryHub/obj/Debug/net9.0
/PizzaDeliveryHub/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/PizzaDeliveryHub/obj/Debug/netcoreapp3.1/apphost.exe
/PizzaDeliveryHub/obj/Debug/netcoreapp3.1/PizzaDeliveryHub.AssemblyInfo.cs
/PizzaDeliveryHub/obj/Debug/netcoreapp3.1/PizzaDeliveryHub.AssemblyInfoInputs.cache
/PizzaDeliveryHub/obj/Debug/netcoreapp3.1/PizzaDeliveryHub.assets.cache
/PizzaDeliveryHub/obj/Debug/netcoreapp3.1/PizzaDeliveryHub.csproj.AssemblyReference.cache
/PizzaDeliveryHub/obj/Debug/netcoreapp3.1/PizzaDeliveryHub.GeneratedMSBuildEditorConfig.editorconfig
/PizzaDeliveryHub/obj/PizzaDeliveryHub.csproj.nuget.dgspec.json
/PizzaDeliveryHub/obj/PizzaDeliveryHub.csproj.nuget.g.props
/PizzaDeliveryHub/obj/PizzaDeliveryHub.csproj.nuget.g.targets
/PizzaDeliveryHub/obj/project.assets.json
/PizzaDeliveryHub/obj/project.nuget.cache
/PizzaDeliveryHub/bin/Debug/net9.0
/PizzaDeliveryHub/.vs/PizzaDeliveryHub/v17/.futdcache.v2
/PizzaDeliveryHub/.vs/PizzaDeliveryHub/v17/.suo
/PizzaDeliveryHub/.vs/PizzaDeliveryHub/v17/DocumentLayout.backup.json
/PizzaDeliveryHub/.vs/PizzaDeliveryHub/v17/DocumentLayout.json
/PizzaDeliveryHub/.vs/ProjectEvaluation/pizzadeliveryhub.metadata.v9.bin
/PizzaDeliveryHub/.vs/ProjectEvaluation/pizzadeliveryhub.projects.v9.bin
/PizzaDeliveryHub/.vs/ProjectEvaluation/pizzadeliveryhub.strings.v9.bin
